{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>This page explains common FinCrime abbreviations</h1>
</div>


<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Abbreviation</th>
        <th scope="col">Full</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FATF</td>
        <td>Financial Action Task Force</td>
        <td>The international body that offers guidance on AML and CFT</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <td>JMLSG</td>
        <td>Joint Money Laundering Steering Group</td>
        <td>A UK-based group that offers guidance on AML</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <td>UNODC</td>
        <td>United Nations Office on Drugs and Crime</td>
        <td>Offers research, guidance and support to countries in relation to tackling drugs and crime</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary">Add an abbreviation</button>
<!-- the button should link to a form, possibly in a modal.  -->

{% endblock %}
