{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>This page explains common FinCrime terms and concepts</h1>
</div>


<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for term in glossaryTerms %}

      <tr>
        <td> {{ term.name }} </td>
        <td> {{ term.description }} </td>
        <td> {{ term.notes }} </td>
        <td>
          <!-- <button type="button" class="btn btn-primary">Update</button> -->


            <a class="btn btn-primary" href="{{ url_for('update_glossary_term', glossary_term_id=term.id) }}">Update</a>



        </td>
        <td>
          <button type="button" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>



{% endblock %}
